<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/help" routerLinkActive="active">Help</a></li>
          <li><a routerLink="/summary" routerLinkActive="active">Summary</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>-->
<div class="container">

    <!-- routing here -->
    <router-outlet></router-outlet>
</div>
